html, body{
    background-color:#f2f2f2;
    font-size: 100%;
    font: helvetica;
    text-align:center;
}

#banner {
    background-color: #2c3e40;
    height:3.6em;
    width:100%;
    position: fixed;
    top:0;
}

#banner_title {
    margin-top:0;
    margin-right:auto;
    margin-left: auto;
    max-width: 100%;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    color: #ffffff;
    font-size:1.8em;
    font-family: sans-serif;
}

#global_nav {
    background-color: #83bbbf;
    font-family: helvetica, sans-serif;
    height:2.6em;
    width:100%;
    position: fixed;
    top: 3.6em;
    text-align: left; 
}

#content {
    max-width: 960px; 
    margin-top:9em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #ffffff;
}

h1 {
    font-family: helvetica, sans-serif;
    font-size: 1em;
}

h2 {
    font-family: helvetica, sans-serif;
    font-size: 1em;
    color: #83bbbf;
}

h3 {
    font-family: helvetica, sans-serif;
    font-size:1em;
    color:#83bbbf;
}

.paragraphs {
    column-count: 2; 
    column-count: 2;
    column-gap: 40px;
    column-gap: 40px;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    font-family: Muli, sans-serif;
    margin: 0px auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

tr td {
    padding-right: 2em;
}

tr td{
    border-bottom: solid 1px #f2f2f2;
    padding-right: 3em;
    padding-left: 3em;
    text-align: center;
}

th {
    border-bottom: solid 3px #2c3e40;
}

td {
    padding: 0.5em;
}

#table_title {
    font-family: helvetica, sans-serif;
    color:#83bbbf;
    font-size: 1em;
}